* {
    box-sizing: border-box;
}

.wrapper {
    font-size: 1.5em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: white;
    display: flex;
    justify-content: stretch;
    z-index: 9999999999;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    max-width: calc(100vw - 2em);
}

.icon {
    min-height: 3em;
    width: 3em;
    flex-basis: 3em;
    flex-shrink: 0;
    background: rgb(200,200,200) url("./microphone.svg") no-repeat center center;
    background-size: 1.5em 1.5em;
    transition: background-color 1s ease-in-out;
}

.icon.icon__listening {
    background-color: hsl(90, 100%, 40%);
}

.phrase {
    line-height: 1em;
    padding: 1em;
}

.phrase:empty {
    display: none;
}
